@import url('https://fonts.googleapis.com/css2?family=Mada:wght@300;400;700&display=swap');

:root{
    --main-color:#f04814;
    --color-default: #fff;
    --color-secondary: #161718;
    --black : #000;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
    transition:width none;
    scroll-behavior: smooth;
    font-family: 'Mada', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background: white;
}
body{
    direction: rtl;
    overflow-x: hidden;
    color: var(--color-default);
    background-color: #000;
}
a{
    text-decoration: none;
}
section{
    padding: 50px 0;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
}
@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
.swal2-html-container{
    font-size: 2rem !important;
}
.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: white;
    width: 0%;
    z-index: 100;
    transition: width 0.2s ease-out;
}
  /*Scroll Top*/
  #scroll_top{
    position: fixed;
    bottom: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 800;
    transition: 1s;
    transform: rotate(-90deg);
    right: 10px;
    bottom: -60px;
}
#scroll_top:hover{
    background: transparent;
    color: var(--main-color);
    transform: scale(1.1) rotate(-90deg) translateX(10px);
}

  #preloader {
    display: flex;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
  }

  #preloader:before,
  #preloader:after {
    content: "";
    background-color: var(--color-secondary);
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }

  #preloader:after {
    left: 0;
    right: auto;
  }

  #preloader .line {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 1px;
    height: 280px;
    transition: all 0.8s ease 0s;
  }

  #preloader .line:before {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    transform: translateY(-50%);
    -webkit-animation: lineincrease 1000ms ease-in-out 0s forwards;
    animation: lineincrease 1000ms ease-in-out 0s forwards;
  }

  #preloader .line:after {
    content: "";
    position: absolute;
    background-color: #999;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: translateY(-100%);
    -webkit-animation: linemove 1200ms linear 0s infinite;
    animation: linemove 1200ms linear 0s infinite;
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
  }

  #preloader.loaded .line {
    opacity: 0;
    height: 100% !important;
  }

  #preloader.loaded .line:after {
    opacity: 0;
  }

  #preloader.loaded:before,
  #preloader.loaded:after {
    -webkit-animation: preloaderfinish 300ms ease-in-out 500ms forwards;
    animation: preloaderfinish 300ms ease-in-out 500ms forwards;
  }

  @-webkit-keyframes lineincrease {
    0% {
      height: 0%;
    }

    100% {
      height: 100%;
    }
  }

  @keyframes lineincrease {
    0% {
      height: 0%;
    }

    100% {
      height: 100%;
    }
  }

  @-webkit-keyframes linemove {
    0% {
      transform: translateY(200%);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes linemove {
    0% {
      transform: translateY(200%);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  @-webkit-keyframes preloaderfinish {
    0% {
      width: 5 0%;
    }

    100% {
      width: 0%;
    }
  }

  @keyframes preloaderfinish {
    0% {
      width: 5 0%;
    }

    100% {
      width: 0%;
    }
  }

/* Header */
  .header {
    height: 75px;
    transition: all 0.5s;
    z-index: 9;
    padding: 0;
    background-color: #000;
  }

  .header .logo {
    transition: 0.3s;
  }

  .header .logo img {
    width: 110px;
    margin-right: 8px;
  }

  .header .logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
    color: #fff;

  }

  .header .logo i {
    font-size: 32px;
    margin-right: 8px;
    line-height: 0;
  }

  @media (max-width: 575px) {
    .header .logo h1 {
      font-size: 26px;
    }

    .header .logo i {
      font-size: 24px;
    }
  }

  .header .header-social-links {
    padding-right: 15px;
  }

  .header .header-social-links a {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 20px;
  }

  .header .header-social-links a:hover {
    color: #fff;
  }

  @media (max-width: 575px) {
    .header .header-social-links a {
      padding-left: 5px;
    }
  }
  @media (min-width: 1280px) {
    .navbar {
      padding: 0;
    }

    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }

    .navbar li {
      position: relative;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-size: 20px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    .navbar a:hover,
    .navbar li:hover>a {
      color: #fff;
    }

    .navbar .active,
    .navbar .active:focus{
        color: var(--main-color);
    }
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: var(--color-secondary);
      transition: 0.3s;
      border-radius: 4px;
    }

    .navbar .dropdown ul li {
      min-width: 200px;
    }

    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 400;
    }

    .navbar .dropdown ul a i {
      font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: #fff;
    }

    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }

  @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  @media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
      display: none;
    }
    .navbar li#navbar_logo {
        display: none;
      }
  }
/* Mobile */
  @media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
    }

    .navbar ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: rgba(0, 0, 0, 0.9);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }

    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
        font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 1px;
      white-space: nowrap;
      transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }

    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      padding: 10px 0;
      margin: 10px 20px;
      transition: all 0.5s ease-in-out;
      border: 1px solid black;
    }

    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
      display: block;
    }

    .mobile-nav-show {
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      z-index: 9999;
      margin: 0 10px 0 10px;
    }

    .mobile-nav-hide {
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      position: fixed;
      left: 20px;
      top: 20px;
      z-index: 9999;
    }

    .mobile-nav-active {
      overflow: hidden;
    }

    .mobile-nav-active .navbar {
      right: 0;
    }

    .mobile-nav-active .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(22, 23, 24, 0.8);
      z-index: 9996;
    }
    .navbar li#navbar_logo img{
        width: 50%;
        padding: 10px 20px;
    }
  }

  .hero {
    width: 100%;
    min-height: 100vh;
    background: #000;
    background-size: cover;
    position: relative;
    padding: 140px 0 60px 0;
    overflow: hidden;
  }
  .hero .hero-logo{
    width: 230px;
    margin-bottom: 40px;
  }
  .hero h2 {
    margin: 0 0 10px 0;
    font-size: 38px;
    font-weight: 700;
    color: #fff;

  }

  .hero h2 span {
    position: relative;
    z-index: 1;
    padding: 0 10px;
    display: inline-block;
    color: white;
  }

  .hero h2 span:before {
    content: "";
    border-radius: 4px;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main-color);
    z-index: -1;
  }

  .hero p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
    font-size: 18px;
  }

  .hero .btn-get-started {
    font-weight: 400;
    font-size: 22px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: 0.3s;
    color: white;
    background: var(--main-color);
  }

  .hero .btn-get-started:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
  }
  .hero .arrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 30px;
  }
  .hero .arrow a{
    cursor: pointer;
    font-size: 35px;
    color: var(--main-color);
  }
  .hero .arrow a:hover{
    transform: translateY(10px);
  }
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 32px;
    }
  }
/* Message - Vision */
.message-vision{
    position: relative;
    padding: 50px 0;
}
.message-vision .image-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-vision .image-content img{
    width: 70%;
}
.message-vision .text-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.message-vision .text-content .message ,
.message-vision .text-content .vision{
    position: relative;
    width: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.message-vision .text-content .message:hover ,
.message-vision .text-content .vision:hover{
    transform: scale(1.05);
    border-color: var(--main-color);
}
.message-vision .text-content .message .icon ,
.message-vision .text-content .vision .icon{
    color: var(--main-color);
    position: absolute;
    font-size: 6rem;
    left: 0;
    top: 0;
}
.message-vision .text-content .message h2,
.message-vision .text-content .vision h2{
    font-weight: bold;
    font-size: 3.2rem;
}
.message-vision .text-content .message p,
.message-vision .text-content .vision p{
    font-size: 1.6rem;
}
/* advantages */
.advantages{
    position: relative;
    padding: 150px 0;
}
.advantages .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advantages .cards .advantage-card{
    width: 28%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    height: 160px;
}
.advantages .cards .advantage-card:hover{
    transform: scale(1.05);
    border-color: var(--main-color);
}
.advantages .cards .advantage-card h2{
    font-size: 3.2rem;
    font-weight: bold;
}
.advantages .cards .advantage-card h2 i{
    position: relative;
    top: -8px;
    background: #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
    color: var(--main-color);
    font-size: 2.4rem;
}
.advantages .cards .advantage-card p{
    font-size: 1.6rem;
    text-align: justify;
}
.advantages .cards .advantage-card hr{
    height: 4px;
    background-color: var(--main-color);
    margin-bottom: 20px;
    border: none;
    opacity: 1;
    border-radius: 4px;
}

/* advantages */
.services{
    padding: 50px 0;
    position: relative;
}
.services .container{
    background: #77777747;
    padding: 50px;
    border-radius: 12px;
}
.services .image-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .image-content img{
    width: 100%;
}
.services .text-content h2{
    font-size: 3rem;
    font-weight: bold;
}
.services .text-content h2 .main-color{
    color: var(--main-color);
}
.services .text-content ul{
    list-style: none;
    counter-reset: item;
}
.services .text-content li{
    position: relative;
    font-size: 2rem;
    color: var(--color-default);
    counter-increment: item;
    margin: 10px 0;
    font-weight: 500;

}
.services .text-content i:after{
    content: '';
    background-color: #fc7b934d;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 15px;
    /* z-index: -1; */
  }
.services .text-content i {

    margin-right: 10px;
    color: var(--main-color);
    font-size: 3.2rem;
    margin-left: 5px;
  }
  .company-advantages .text-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*  portfolio  */
  .portfolio .section-title h2{
    position: relative;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 3.2rem;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.portfolio .section-title h2::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: -4px;
    right: 8px;
    background-color: #fff;
    border-radius: 4px;
}
.portfolio .section-title h2::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 12px;
    bottom: -8px;
    right: 75%;
    border: 4px solid #000;
    background-color: transparent;
    border-radius: 4px;
}
.portfolio .section-title p{
    font-size: 18px;
}
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }

  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
  }

  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }

  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: var(--main-color);
  }

  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }

  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
  }

  .portfolio .portfolio-wrap::before {
    content: "";
    background: #ffffffbb;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }

  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #364146;
    font-weight: 600;
  }

  .portfolio .portfolio-wrap .portfolio-info p {
    color: #364146;
    font-size: 14px;
    text-transform: uppercase;
  }

  .portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-links a {
    color: var(--main-color);
    margin: 0 2px;
    font-size: 24px;
    display: inline-block;
    transition: 0.3s;
    background: #eaf8ff;
    border-radius: 50px;
    line-height: 0;
    padding: 6px;
  }

  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #fff;
    color: var(--main-color);
  }

  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    top: calc(50% - 48px);
  }

  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: calc(50% - 50px);
  }

  .portfolio-details {
    padding-top: 40px;
  }

  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(54, 65, 70, 0.08);
  }

  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }

  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }

  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }

  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  .gdesc-inner{
    display: none;
  }
/* Customers */
.gallery{
    position: relative;
    padding: 150px 0;
}
.gallery h2{
    text-align: center;
    font-weight: 300;
    font-size: 2.4rem;
}
.gallery .images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery .section-title h2{
    position: relative;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 3.2rem;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.gallery .section-title h2::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: -4px;
    right: 8px;
    background-color: #fff;
    border-radius: 4px;
}
.gallery .section-title h2::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 12px;
    bottom: -8px;
    right: 75%;
    border: 4px solid #000;
    background-color: transparent;
    border-radius: 4px;
}
.gallery .section-title p{
    font-size: 16px;
}
.gallery .single-image{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 20px;
}
.gallery .single-image img{
    width: 40%;
}
.gallery .owl-carousel .owl-item img:hover{
    transform: scale(1.05);
}
/* Footer */
footer {
    padding: 20px 0 50px;
 }
 @media (min-width:768px){
   footer .col-md-4{
    display: flex;
    justify-content: center;
    align-items: baseline;
 }
 }

    footer > .row > .col-md-4:nth-of-type(2) {
      position: relative; }
      footer > .row > .col-md-4:nth-of-type(2)::after {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background-color: #fff;
        position: absolute;
        inset-inline-end: 0;
        inset-block-start: 0; }
    footer img {
      width: 170px; }
    footer h4 {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
    footer ul {
      padding: 0;
      list-style: none;
    }
      footer ul li {
        font-size: 1.6rem;
        font-weight: 500;
        color: white
    }
    footer ul li a,
    footer ul li a:hover{
        color: white;
    }
    footer ul li:hover {
        color: var(--main-color);
    }
    footer ul li i{
        margin-left: 10px;

    }
    footer .social-media {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
    footer .social-media a i{
        color: white;
        font-size: 20px;
        margin: 0 15px;
    }
    footer .social-media a i:hover{
        color: var(--main-color);
    }

        @media (max-width:768px){
            footer > .row > .col-md-4:nth-of-type(2)::after{
                content: "";
                display: block;
                height: 2px;
                width: 34%;
                background-color: white;
                position: absolute;
                inset-inline-start: 0;
                inset-block-start: 110px;
            }
            footer img{
                width: 200px;
                display: block;
                }
            footer h4{
                text-align: right !important;
                margin-top: 30px;
            }
            footer .social-media{
                justify-content: flex-start;
            }
        }
/* Responsive */
@media (max-width:991px){



}
@media (max-width:768px){
    .header .header-social-links{
        display: none;
    }
    .message-vision .image-content img{
        display: none;
    }
    .message-vision .text-content .message,
    .message-vision .text-content .vision{
        width: 90%;
        margin: 15px 0;
    }
    .advantages .cards{
        flex-direction: column;
    }
    .advantages .cards .advantage-card{
        margin: 15px 0;
        width: 90%;
    }
    .services .container{
        padding: 50px 0;
    }
    .services .text-content li{
        font-size: 1.6rem;
    }
    .services .text-content{
        margin-bottom: 25px;
    }
    .services .image-content img{
        width: 80%;
    }
    .portfolio .portfolio-wrap{
        width: 90%;
        margin: 0 auto;
    }
    .owl-carousel .owl-item img{
        margin: 0 auto;
        width: 90%;
    }
    .advantages,.gallery{
        padding: 50px 0;
    }
    #scroll_top{
        right: unset;
        left: 10px;
    }
}
